body{
	background-image:url(../image/c35fbc71205274af1c8ce5b584fa82ac.jpeg);
	background-repeat: repeat-y;
}
.display-1{
	text-align : center;
}
.card{
	width:600px;
}
.row{
	margin: auto;
	width:1250px;
}
.card{
	box-shadow: 10px 10px 5px grey;
}

