.display-1{
	text-align : center;
}
body{
	text-align : center;
	margin: auto;
	width: 600px;
	background-color: grey;
	
}
form{
	background-color: white;
	border-radius:20px;
	width:650px;
	margin-top:200px;
}
.form-floating{
	width: 600px;
	margin:auto;
}
#exampleCheck1{
	vertical-align:bottom;
	margin-left:50px;
	margin-right:-70px;
}
button{
	width: 600px;
}